body {
  background-color: blue;
}

h1 {
  color: orange;
  font-size:100px;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
}

ul {
      font-style: Italic;
      color: orange;
    }

li {
      font-style: Italic;
      color: orange;
    }

form {
      font-style: Italic;
      color: lightgreen;
    }

table {
      font-style: Bold;
      color: orange;
    }

span {
      font-style: Bold;
      color: orange;
    }

h3 {
      font-style: Italic;
      font-size: 60px;
      color: orange;
      text-decoration: underline;
    }

h2 {
      font-style: Italic;
      font-size: 60px;
      color: orange;
      text-decoration: underline;
    }


.intro {
  font-style: comic sans ms;
  background-color:darkblue;
  outline-style: groove;
}

#basic_profile_info {
  font-style: comic sans ms;
  background-color: darkblue;
  outline-style: groove;
}

#about_section {
  font-style: comic sans ms;
  background-color: darkblue;
  outline-style: groove;
}

#favorite_websites {
  font-style: comic sans ms;
  background-color: darkblue;
  outline-style: groove;
}

#enter {
  font-style: comic sans ms;
  background-color: darkblue;
  outline-style: groove;
}


img {
  border-radius: 20%;
  outline-style: groove;
}





a{
 color:cyan;
}





